<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>
  <h1>ADMIN PANEL</h1>
  <a href="/logout">logout</a>
    <form action="/admin" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Blog Posts</label>
            <input type="text" name="post" class="form-control" id="post" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Author</label>
            <input type="text" class="form-control" name="author" id="author" required>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <hr>
    {% for posts in Post %}
    <hr>
    <h4>BLOG: {{posts.blog}}</h2>
    <h4>AUTHOR: {{posts.author}}</h2>
    <h5>PUBLISHED : {{posts.published}}</h5>
    <a href="/delete/{{posts.num}}">DELETE</a> <br>
    <a href="/edit/{{posts.num}}">EDIT</a>
    <hr>
    {% endfor %}
</body>
</html>